
:root{
    --background-color: hsl(257, 40%, 49%);
    --actived-state-color: hsl(300, 69%, 71%);
}

body{
    background-color: var(--background-color);
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat ;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
   


    /* max-width: 1440px;
    max-height: 630px; */
    /* margin: 0 35px 0 35px; */
}
  

/* HEADER  */
   

.container .header .logo img{
    width: 160px;
    margin: 50px 0 50px 50px;
}



/* MAIN */


.container .main{
   display: flex;
   justify-content: center;
   margin-top: 40px;
   flex-wrap: wrap;
   

}

.container .main .muckups img{
    width: 700px;
}

.container .main .register-info{
   padding-top: 50px;
   margin-left: 30px;
   max-width: 450px;
   min-width: 400px;
   /* flex-wrap: wrap; */
 

}

.container .main .register-info h2{
    font-weight: 600;
    font-size: 3.0rem;
    text-align: left; 
    font-family: 'Poppins';
    max-width: 400px;
    min-width: 400px
}

.container .main .register-info p{
    font-size: 1.3rem;
    text-align: left;
    font-family: 'Open sans';
    padding-top: 30px;
    margin-bottom: 30px;
    max-width: 340px;
  
}



.container .main .register-info .register-btn{
   

    background-color: #fff;
    color: var(--background-color);
    font-size: 2.0rem;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
    max-width: 200px;
    min-width: 10px;
    font-family: 'Poppins';
    text-align: center;

   }
   
   
    


.container .main .register-info .register-btn:hover{
   color: #fff;
   background-color: var(--actived-state-color);
    

}


/* FOOTER */

.container .footer .social-links{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 3%;
    gap: 20px;
   
}


.container .social-links i {
    font-size: 8rem;
    transition: 0.3s;
}


.social-links .link-facebook i{
    padding: 8px 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 2rem;
}

.social-links .link-insta i{
    padding: 5px 7px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 2.5rem;
}

.social-links .link-twitter i{
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 2.5rem;
}

.social-links i:hover{
    background-color: var(--actived-state-color);
}







